@import 'colors';

.app-button {
  background-color: $color-primary;
  transition: all 0.2s linear 0s;
  word-spacing: initial;
  border: none;
  color: $color-light;
  padding: 12px 16px;
  text-align: center;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: darken($color-primary, 15%);
  }
}
