<div class="app-card">

  <app-movie-cover (click)="showDetails()"
    [average]="popularity"
    [imageUrl]="image"></app-movie-cover>

  <div class="app-card__description">

    <app-heading (click)="showDetails()"
      class="app-card__title"
      [title]="title"></app-heading>

    <div class="app-card__buttons">
      <app-fav-button (favoriteEvent)="favoriteHandler()"
        [favorite]="favorite"></app-fav-button>
    </div>
  </div>

  <div>{{releaseDate}} • {{genre}}</div>

  <p class="app-card__overview">{{overview}}</p>

</div>