@import 'typography';
@import 'spacing';
@import 'colors';

.app-card {
  margin: $spacing-big 0;
  cursor: pointer;

  > .overview {
    display: -webkit-box;
    font-size: $font-size-small;
    height: calc(3 * #{$line-height-default});
    line-height: $line-height-default;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .buttons {
    display: flex;
  }

  > .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    > .favorite {
      margin: $spacing-default 0 0 $spacing-x-small;
    }
  }
}
