<div class="container">
  <div class="row">

    <app-heading title="Discover by genre"></app-heading>

    <app-genre-filter [genres]="genres"
      (selectGenreEvent)="searchByGenre($event)"></app-genre-filter>

    <div class="col-sm-6 col-md-4 col-lg-3"
      *ngFor="let movie of movies">
      <app-card [movie]="movie"></app-card>
    </div>

    <app-pagination [totalPages]="totalPages"
      [currentPage]="currentPage"
      (selectPageEvent)="search($event)"></app-pagination>

  </div>
</div>