<nav class="app-navbar">

  <a class="link" href="/">
    <app-brand class="brand"></app-brand>
  </a>

  <ul class="menu"
    [ngClass]="{'-active': isActive}">
    <li class="item"><a class="link" href="/">Home</a></li>
    <li class="item"><a class="link" href="/discover">Discover</a></li>
    <li class="item"><a class="link" href="/favorites">Favorites</a></li>
  </ul>

  <button class="toggle"
    #menuToggle>
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="overlay"
    *ngIf="isActive"></div>

</nav>