@import 'colors';

.app-navbar {
  padding: 20px;
  border-bottom: 1px solid darken($color-light-100, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__menu {
    display: flex;

    & > li:not(:first-child) {
      margin-left: 32px;
    }
  }

  &__link {
    color: $color-light;
  }

  &__buttons {
    margin-left: 20px;
  }
}
