@import 'colors';

.app-fav-button {
  transition: all 0.2s linear 0s;
  word-spacing: initial;
  color: $color-light;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid darken($color-light-100, 50%);

  &--selected {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}
