$color-primary: #7b61ff;
$color-secondary: #b66dff;
$color-success: #05ce91;
$color-error: #ff6161;
$color-warning: #ffad49;
$color-neutral: #15141f;
$color-light: #ffffff;
$color-light-100: #b1b1b1;
