@import 'colors';
@import 'typography';
@import 'spacing';
@import 'grid';
@import 'reset';

* {
  font-size: $font-size-default;
  line-height: $line-height-default;
  font-family: $font-family;
  font-weight: $font-weight-default;
}

.app-main {
  background-color: $color-neutral;
  color: $color-light-100;
}

.app {
  padding: $spacing-extra;
}
